.hide {
  display: none !important;
}

@function set-text-color($bg-color) {
  @if (lightness($bg-color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Set background & text color
// @include set-background($color)
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// @extend %flex-center;
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Remove number input arrows/spinners
%input-remove-arrows {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}
