@import '../variables';
@import '../utilities';

.list-screen {
  $itemWidth: 500px;
  $itemFontSize: 20px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  @include set-background(coral);

  li {
    width: $itemWidth;
    font-size: $itemFontSize;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 100%;
      .item-text {
        margin: 0px 3px;
        @extend %force-word-wrap;
      }
      .item-checked {
        text-decoration: line-through;
      }
    }

    input[type='checkbox'] {
      //   -webkit-appearance: none;
      margin: 0 10px;
      min-width: 30px;
      min-height: 30px;
      background: white;
      border-radius: 5px;
      border: 2px solid #555;
      cursor: pointer;
    }
    input[type='checkbox']:checked {
      background: #abd;
    }

    .delete-btn {
      background-color: transparent;
      border: none;
      color: rgb(255, 41, 41);
      cursor: pointer;

      &:active {
        transform: scale(95%);
      }

      &:hover {
        filter: brightness(0.95);
      }
    }
  }

  .new-item-input {
    width: $itemWidth;
    font-size: $itemFontSize;
    padding: 10px 63px;
    border-radius: 20px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    button {
      @extend %btn;
    }
  }
}
