@import '../variables';
@import '../utilities';

$btn-color: lighten($primaryColor, 15%);

body {
  position: relative;
}

.list-inventory {
  @include set-background(coral);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 23px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  li {
    position: relative;
    @include set-background(white);
    @extend %flex-center;
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      filter: brightness(0.95);
    }
  }

  .list-box {
    text-align: center;
  }

  .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    color: rgb(255, 41, 41);
    cursor: pointer;

    &:active {
      transform: scale(95%);
    }

    &:hover {
      filter: brightness(0.95);
    }
  }

  .add-btn {
    @extend %btn;
    @include set-background($secondaryColor);
    color: $thirdColor;
    margin-top: 20px;
  }
}

.popup-screen {
  min-height: 300px;
  min-width: 450px;
  @extend %absolute-center;
  @extend %flex-center;
  @include set-background($secondaryColor);
  color: white;
  border-radius: 10px;
  filter: brightness(0.85);
  padding: 20px 30px;

  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    height: 100%;
  }



  label {
    font-size: 25px;
  }

  input {
    font-size: 28px;
    text-align: center;
    background-color: white;
  }

  .cross-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: $btn-color;
    border: none;
    cursor: pointer;
  }

  .popup-btn {
    @extend %btn;
    @include set-background($btn-color);
    margin-top: 20px;
  }
}
