@import '../variables';
@import '../utilities';

header {
  height: $headerHeight;
  width: 100%;
  @include set-background($secondaryColor);
  color: $thirdColor;
  padding: 20px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    display: inline-block;
  }
  ul {
    display: flex;
    gap: 15px;
  }

  li {
    cursor: pointer;
  }

  a {
    color: $thirdColor;
  }
}
